.App {
    display: flex
}

.App > div {
    margin: 2em auto;
}

table {
    border-collapse: collapse;
}

thead .filters th {
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
}

tbody tr:first-child td {
    padding-top: 2em;
}

th:first-child, td:first-child {
    width: 20em;
    text-align: left;
}

th:nth-child(2), td:nth-child(2) {
    width: 5em;
    text-align: center;
}

th:last-child, td:last-child {
    width: 150px;
    text-align: center;
}
